<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.artik.easysetup">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- add the permission to access and change the network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- add the permission to access and change the WiFi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- bluetooth permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".view.ARTIKApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.StartEasySetupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.BoardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PlugInModuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ManualInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PairingDeviceActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DevicePairedActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SoftAPOnboarding"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WiFiListActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegistrationSuccessActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".ble.BLEConnectionManager"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>